.btnNight,.btnDay {
  text-decoration:none;
  margin:20px;
  padding: 10px 20px 10px 20px;
  display:inline-block;
  border-radius:10px;
  transition:all 0.05s;
  outline: 0;
  cursor: pointer;
  box-shadow: none;
}
.btnNight{
  background-color:#3E3D3D;
  color:white;
  border-bottom:7px solid black;
}
.btnNight:active{
  background-color:#3E3D3D;
  color:white;
  border-bottom:3px solid black;
  transform:translateY(4px);
  outline: 0;
  margin-bottom: 24px;
}
.btnDay{
  background-color:#F0ECEC;
  color:black;
  border-bottom:7px solid gray;
}
.btnDay:active{
  background-color:#F0ECEC;
  color:black;
  border-bottom:3px solid gray;
  transform:translateY(4px);
  outline: 0;
  margin-bottom: 24px;
}
